.wrap_paging{
	text-align: center;
}

.holder {
	display: inline-block;
	margin: 15px 0;
}

.holder a {
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #f4efef;
    margin: 0px 2px;
    padding: 4px 10px;
    color: #333;
}

.holder a:hover {
	background-color: #1c6fb3;
	color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
	color: #fff;
	font-weight: bold;
	background: #1c6fb3;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
	background: none;
}

.holder a.jp-current, a.jp-current:hover {
	cursor: default; 
	background: #1c6fb3;
}

.holder span { margin: 0 5px; }